window-padding-x = 6
window-padding-y = 6

font-family = "BerkeleyMono Nerd Font Mono"
font-size = 14
adjust-cell-height = 4

# cursor
mouse-hide-while-typing = true
cursor-style-blink = false
cursor-style = block

window-save-state = always

theme = light:Gruvbox Light Hard,dark:Gruvbox Dark Hard


